* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
  background-color: hsl(216, 12%, 8%);
}

body {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  margin: auto;
}

.card,
.thank-you {
  display: bloc;
  max-height: 100%;
  max-width: 400px;
  color: hsl(217, 12%, 63%);
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  margin: 0 1.8em;
  padding: 2em;
  border-radius: 25px;

  &__header {
    margin-top: 0.5em;
    color: hsl(0, 0%, 100%);

    &--thanks {
      text-align: center;
      margin: 0;
    }
  }

  &__image {
    padding: 1em;
    background-color: hsl(214, 23%, 18%);
    border-radius: 50%;
  }

  &__text {
    padding: 1.4em 0;

    &--selected {
      text-align: center;
    }

    &--rated {
      text-align: center;
      padding-bottom: 0.5em;
    }
  }

  .card__numbers {
    width: auto;
    margin-top: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--noactive {
      margin: auto;
      cursor: pointer;
      color: hsl(217, 12%, 63%);
      border: none;
      padding: 1.4em;
      background-color: hsl(214, 23%, 18%);
      border-radius: 50%;
      line-height: 0.4;
    }
  }
  &__button {
    cursor: pointer;
    color: #fff;
    margin-top: 2em;
    padding: 1em;
    border-radius: 40px;
    border: none;
    min-width: 100%;
    text-transform: uppercase;
    background-color: hsl(25, 97%, 53%);
  }
}

.thank-you img {
  display: block;
  margin: auto;
}

@media (max-width: 375px) {
  .attribution {
    display: none;
  }
}
